<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMTL | Edit Group </title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="create-group.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <a href="manager-homepage"><img src="RMTL-logo.png"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="manager-homepage">Home</a></li>
                    <li><a href="manager-booking">Bookings</a></li>
                    <li><a href="manager-report-issues">Report Issues</a></li>
                    <li><a href="manager-profile">Profile</a></li>
                    <li><a href="manager-reports">Reports</a></li>
                    <li><a href="manager-projects">Projects</a></li>
                    <li><a class="current" href="manager-users">Users</a></li>
                    <li><a href="manager-email">Emails</a></li>
                    <li><a href="manager-logs">Logs</a></li>
                    <li><a href="manager-equipment">Equipment</a></li>
                    <li>
                        <a>
                            <form action="logout" method="get">
                                <button type="submit" class="logout-btn">Logout</button>
                            </form>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>     
    </header>
    <br>
    <div class="container">
        <h1>Edit Group</h1> 
        <form action="edit-group" method="post">
            <label for="groupName">Group Name</label>
            <input type="text" class="text-input" name="groupName" placeholder="Enter group name" maxlength="50" value=<%- JSON.stringify(group[0].groupName) %> readonly>
            <label for="training"> Approved Equipment </label>    
            <select id="training" name="training" class="selectBox" size="6" multiple required>
                <% for (var i = 0; i < all.length; i++) { %>
                    <% for (var j = 0; j < current.length; j++) { %> 
                        <% if (current[j].equipmentName == all[i].equipmentName) { %> 
                            <option selected="selected"><%= all[i].equipmentName %></option>
                        <% } %> 
                    <% } %> 
                    
                    <% if (!(JSON.stringify(current).includes(all[i].equipmentName))) { %>
                        <option><%= all[i].equipmentName %></option>
                    <% } %>
                <% } %>
            </select>
            <button type="submit" class="button-1" value="submit"> Submit </button>
        </form>
    </div>  
</body>
</html>
