<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMTL | Request Account </title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="forgot-credentials.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <a href="login"><img src="RMTL-logo.png"></a>
            </div>
        </div>     
    </header>
    <br>
    
    <div class="container">
        <h1> Forgot your login credentials? </h1> 
        <p> Enter the email address you signed up with and we'll get back to you shortly. </p>

        <form action="forgot-credentials" method="post">
            <div class="label" id="label">
                <label for="email"> Email </label>
            </div>
            <input type="text" placeholder="Enter email" name="email" required>
            <div class="label" id="label">
            <button type="submit" class="button" value="submit"> Submit </button>
        </form>  
    </div>  
</body>
</html>