<!DOCTYPE html>	
<html lang="en">	
<head>	
    <meta charset="UTF-8">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <title>RMTL | Booking </title>	
    <link rel="icon" href="icon.png">	
    <link rel="stylesheet" type="text/css" href="calendar_styling.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>	

<body>	
    <header>	
        <div class="navbar">	
            <div id="logo">	
                <a href="homepage"><img src="RMTL-logo.png"></a>	
            </div>	
            <nav>	
                <ul>	
                    <li><a href="homepage">Home</a></li>	
                    <li><a class="current" href="booking">Bookings</a></li>	
                    <li><a href="report-issues">Report Issues</a></li>	
                    <li><a href="profile">Profile</a></li>	
                    <li>	
                        <a>	
                            <form action="logout" method="get">	
                                <button type="submit" class="logout-btn">Logout</button>	
                            </form>	
                        </a>	
                    </li>	
                </ul>	
            </nav>	
        </div>     	
    </header>	
    <br>	
<br>

<div id = "confirmation_page">
    <div id = "confirmation"> You have exceeded your current number of bookings</div> <br>
    <button id = "confirm_nav_button" onclick= "window.location = '/user-calendar'" style = "background-color: #3B83FB;"> Back to Calendar </button> 
</section>

</body>
</html>